@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    font-size: 18px;
}
div#main {
    margin-left: 300px;
}

.main-visual {
    background-image: url(../img/main-visual-bg.jpeg);
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
}
.main-visual > * {
    z-index: 100;
}
.main-visual::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #000000b3, #ffcedc);
    opacity: .7;

}
.side-nav {
    position: fixed;
    height: 100vh;
    /* box-shadow: 0 0.125rem 0.8rem #e9ecef; */
    padding: 5rem 1rem 0;
    background-color: #222222;
}
.nav-link {
    color: #212529!important;
}
.list-group-item {
    border: none;
    background-color: transparent;
    color: #ffeded;
}
.list-group-item.active {
    background-color: #ffffff59;
    color: #ffe3df;
}
.list-group-item-action:focus, .list-group-item-action:hover {
    background-color: #ffffff59;
    color: #ffe3df;
}

.main-visual__pic {
    padding-top: 25%;
}
.main-visual__intro {
    padding-top: 50%;
}
.main-visual__intro--greet {
    font-size: 32px;
}
.main-visual__intro--name {
    font-size: 50px;
    font-weight: 600;
}
.bg-marker {
    background: linear-gradient(transparent 50%, #FFE3DF 55%);
    line-height: 30px;
}
.btn {
    background-color: #DF8D80;
    color: #fff;
}


.contact-sns {
    text-align: center;
    margin: 2rem 0;
}
.contact-sns a {
    color: #fff2f1;
    margin: 0 5px;
}
