@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
* {
  box-sizing: border-box
}
body {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    margin: 0;
}
p {
  font-family: 'Source Code Pro', monospace;
  line-height: 1.5;
}
a {
  color: #439b25;
  text-decoration: none;
  transition: 2s;
}
a:hover {
  background: linear-gradient(transparent 60%, #ededed 60%);
}

html {
  scroll-behavior: smooth;
}
#hero {
  position: relative;
  padding: 1rem;
  max-height: fit-content;
  height: 100vh;
  background-color: #ededed;
  /* background-color: #989795; */
  /* background: linear-gradient(90deg, #FFC0CB 50%, #94f3f3 50%); */
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  z-index: -2;
}

.h1 {
  color: #fff;
  font-weight: 300;
  color: #000;
}
.hero-row {
 display: inline-block;
}
.hero-col-left {
position: absolute;
left: 10%;
top: 36%;
}
.hero-col-right {
  position: absolute;
  right: 25%;
  top: 10%;
  display: block;
  /* background-color: #c8e2bf; */
  width: 26vw;
  height: 80vh;
  background-position: 28% 25%;
  background-image: linear-gradient(to bottom, rgb(255 255 255 / 34%), rgb(221 197 189 / 0%)), url(../img/about.png);
  background-size: cover;
  border: 15px solid rgba(255,255,255,.7);
}
.hero-col-right:after {
  content: "";
  position: absolute;
  background-color: #c8c5c5;
  left: 50%;
  top: -8%;
  width: 32vw;
  height: 90vh;
  z-index: -20;
}
.hero-title {
  font-family: 'Rock Salt', cursive;
  font-size: 6.5vw;
  position: absolute;
  top: 40%;
  line-height: 2;
  color: #c8c5c5;
  z-index: 10;
  /* opacity: 0.6; */
}
.hero-title::before {
  content: "Mya Thet Chel";
  position: absolute;
  font-size: 2rem;
  bottom: 16px;
  color: #000;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.main-content h1 {
  font-size: 2rem;
  font-family: 'Rock Salt', cursive;
  text-align: center;
}
section {
 /* background-color: #c8e2bf; */
 height: 100vh;
 margin:0;
 padding:4rem;
 position: relative;
 /* scroll-margin-top: 100px; */
}
section:nth-of-type(2n) {
  background-color: #ededed;
}
section:before {
  position: absolute;
  font-family: 'Rock Salt', cursive;
  font-size: 6rem;
  color: #ededed;
  z-index: -1;
}
section#about:before {
  content: "Aboutr";
}
.wrapper {
 width: 80%;
 margin: 0 auto;
}
@media screen and (max-width: 800px) {
 .main-content h1 {
   padding: 2rem 0 0;
 }
 .wrapper {
   width: 100%;
 }
 section {
   padding:1rem;
   scroll-margin-top: 0;
 }
}


/*--navigation css--*/
/*--pc nav--*/
#navbar {
  display: inline-block;
  top: 0;
  position: fixed;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 10;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    list-style: none;
}

nav li a {
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
  color: #000;
  display: block;
  font-weight: 400;
  transition: all ease-out 250ms;
  padding: 18px 40px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
nav li a:hover {
  color: #000;
  text-decoration: line-through;
}
.nav-active {
   color: #000;
   text-decoration: line-through;
 }
.nav-logo {
  width: 140px;
  vertical-align: middle;
}
.add-shadow {
  box-shadow: rgb(113 135 164 / 12%) 0px 0px 5px 2px;
  background-color: #fff;
  transition: 1s;
}

/*--sp nav--*/
#g-nav.panelactive{
  position:fixed;
  z-index: 999;
top: 0;
width:100%;
  height: 100vh;
}

/*丸の拡大*/
.circle-bg {
  position: fixed;
  z-index: 3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: scale(0);
  background: radial-gradient(cyan 0%, pink 20%);
  right: -50px;
  top: -50px;
  transition: all .6s;
}


.circle-bg.circleactive{
transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#g-nav-list{
  display: none;
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
   display: block;
}

/*ナビゲーション*/
#g-nav ul {
  width: 100%;
opacity: 0;
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
  opacity:1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panelactive ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;/*0.2 秒遅らせて出現*/
animation-fill-mode:forwards;
opacity:0;
}
@keyframes gnaviAnime{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*リストのレイアウト設定*/
#g-nav li{
text-align: center; 
list-style: none;
}

#g-nav li a{
color: #000;
text-decoration: none;
padding:10px;
display: block;
text-transform: uppercase;
letter-spacing: 0.1em;
font-weight: bold;
writing-mode: horizontal-tb;
}


/*========= ボタンのためのCSS ===============*/
.openbtn1{
position:fixed;
top:15px;
right: 15px;
z-index: 9999;/*ボタンを最前面に*/
cursor: pointer;
  width: 50px;
  height:50px;
  background-color: #000;
  border-radius: 100%;
  /* display: none; */
}

/*×に変化*/	
.openbtn1 span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
background-color: #fff;
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
top:15px;	
}

.openbtn1 span:nth-of-type(2) {
top:23px;
}

.openbtn1 span:nth-of-type(3) {
top:31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
.sp {
  display: none;
}
.sp-top-bar {
  background: linear-gradient(90deg, #FFC0CB 50%, #94f3f3 50%);
  display: block;
  height: 10px;
  position: fixed;
  top: 0;
}
@media screen and (max-width: 800px) {
  .openbtn1 {
    display: inherit;
  }
  #navbar {
    height: 10px;
    background-color: yellow;
  }
  .navigation {
    display: none;
  }
  .add-shadow {
    box-shadow: none;
  }
  .sp {
    display: inherit;
  }
}


.nav-logo-wrap {
  text-align: left;
}
/*--navigation end--*/


/*--button--*/
.btn, a.btn, button.btn {
   font-size: 1.2em;
   display: block;
   margin: 3rem auto 1rem;
   font-weight: 700;
   line-height: 1.5;
   width: 350px;
   max-width: 100%;
   padding: 1rem;
   cursor: pointer;
   user-select: none;
   transition: all 0.3s;
   text-align: center;
   text-decoration: none;
   letter-spacing: 0.1em;
   color: #212529;
   font-family: 'Source Code Pro', monospace;
}
a.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  box-shadow: 4px 4px 0 #94f3f3;
}

a.btn-border:hover {
  box-shadow: -4px -4px 0 #ffc0cb;
}

/*--skill--*/
.skill-bar {
  /* background-color: #EEE; */
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 18px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
}
.skill-bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 0 5px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.skill-bar.front::before{
  background-color: #ffc0cb;
}
.skill-bar.back::before{
  background-color: #a6cfe3;
}

.skill-bar.learning::before{
  width: calc(20% - 10px);
}
.skill-bar.basic::before{
  width: calc(40% - 10px);
}
.skill-bar.intermediate::before{
  width: calc(60% - 10px);
}
.skill-bar.advanced::before{
  width: calc(80% - 10px);
}
.skill-bar.expert::before{
  width: calc(100% - 10px);
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/*--about--*/
.row {
  display: inline-block;
  width: 100%;
}
.col-left {
  float: left;
  width: 46%;
}
.col-right {
  float: right;
  width: 46%;
}
