@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    font-size: 18px;
    margin: 0;
}

#demo-text {
	font-size: 80px;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url(../img/main-visual-bg.jpeg);
}
.clip-text {
    font-size: 9em;
    font-weight: bold;
    line-height: 1;
    display: inline-block;
    padding: 18%;
    text-align: center;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(../img/main-visual-bg.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 19%;
}

.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: -2.75em -20rem;
    background-image: url(../img/main-visual-bg.jpeg), linear-gradient(93deg, #ffffffb3, #ffebf2);
    background-blend-mode: lighten;
}
.clip-text:before, .clip-text:after {
    position: absolute;
    content: "";
}